<div class="row">
  <div class="col-xs-4 text-center">
    Overview
  </div>
  <div class="col-xs-4 text-center">
    <%= link_to 'Benchmarks', compiler_path(RubyBenchmark.first, ruby: @shown_ruby), class: 'inside_navigation' %>
  </div>
  <div class="col-xs-4 text-center">
    <%= link_to 'Show multiple', select_compilers_path(ruby: @shown_ruby), class: 'inside_navigation' %>
  </div>
</div>
<hr>