<div class="bench-navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-center links-block">
        <%= link_to 'Benchmarks', single %>
      </div>

      <div class="col-xs-6 text-center links-block">
        <%= link_to 'Select multiple', multiple %>
      </div>
    </div>
  </div>
</div>