<div class="bench-select">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="ruby">Select benchmark</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= select %>
      </div>
    </div>
  </div>
</div>