<p>
  <strong>10. Mar 2015</strong> - Added support for custom benchmarks, parallelism section
</p>
<hr>
<p>
  <strong>2. Feb 2015</strong> - Added overview for MRI compilers
</p>
<hr>
<p>
  <strong>29. Jan 2015</strong> - Added support for Jruby-9.0.0.0.pre1
</p>
<hr>
<p>
  <strong>28. Jan 2015</strong> - Benchmarks were run just once for test purposes. The results may not be
  very precise. All benchmarks will be run 20 times as soon as possible.<br>
  <strong><span class="ruby">Soon</span></strong> - Overall stats for each section, detailed project notes
</p>
<hr>