<p>
  <strong>28. Jan 2015</strong> - Benchmarks were run just once for test purposes. The results may not be
  very precise. All benchmarks will be run 20 times as soon as possible.<br>
  <strong><span class="ruby">Soon</span></strong> - Overall stats for each section, detailed project notes
</p>