<div class="row">
  <div class="col-xs-12">

    <h1 class="ruby">Hardware</h1>

    <div class="alert alert-info">
      All benchmarks are run on a bare metal in order to achieve consistent and repeatable results.
    </div>

    <table class="table table-striped">
      <tr>
        <th>
          Operating system
        </th>
        <td>
          Ubuntu 14.04
        </td>
      </tr>
      <tr>
        <th>
          Processor
        </th>
        <td>
          Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz
        </td>
      </tr>
      <tr>
        <th>
          RAM
        </th>
        <td>
          2x 4096MB Samsung 1333 MHz DDR3 Memory
        </td>
      </tr>
      <tr>
        <th>
          HHD
        </th>
        <td>
          Model Number:       Samsung SSD 840 EVO 120GB
          <br>
          Serial Number:      S1D5NSBF459970H
          <br>
          Firmware Revision:  EXT0BB6Q
        </td>
      </tr>
    </table>
  </div>
</div>